<div th:fragment="navbar">
	<nav class="navbar navbar-expand-md navbar-light bg-light">
   		<a class="navbar-brand salena" href=./>Salena Mable Stamp</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarText">
    		<ul class="navbar-nav d-flex ml-auto p-2">
    			<li class="nav-item active">
        			<a class="nav-link about" href=./about>About</a>
      			</li>
      			<li class="nav-item active">
        			<a class="nav-link resume" href=./resume>Resume</a>
      			</li>
      			<li class="nav-item active">
        			<a class="nav-link portfolio" href=./portfolio>Portfolio</a>
      			</li>
      			
      			<li class="nav-item active">
        			<a class="nav-link contactnav" href=./contact>Contact</a>
      			</li>
    		</ul>
  		</div>
	</nav>
</div>